{% assign crumbs = page.url | split: '/' | slice: 1, 3000 %}

<nav>
{% if crumbs != empty %}
    <a href="{% link index.md %}">Home</a>
    {% for crumb in crumbs %}
        >>
        {% if forloop.last %}
            {{ page.title }}
        {% else %}
            <a href="{{ site.baseurl }}/{{ crumbs | slice: 0, forloop.index | join: "/" }}">
                {{- crumb | replace: '-', '' | remove: '.html' | capitalize -}}
            </a>
        {% endif %}
    {% endfor %}
{% endif %}
</nav>