body {
    font-family: Calibri;
    font-size: 1.3em;
    width: 80%;
    margin: auto;
    word-wrap: break-word;
}

header {
    background-color: bisque;
    font-size: 1.5em;
}

nav {
    font-size: 0.8em;
}