body {
    font-family: Calibri;
    font-size: 1.3em;
    width: 80%;
    margin: auto;
    word-wrap: break-word;
}

header {
    background-color: #ffe4c4;
    font-size: 1.5em;
    margin-top: 0.67em;
    padding: 0.2em;
}

header h1 {
    margin-bottom: 0.1em;
    margin-top: 0;
}

nav {
    font-size: 0.65em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: white;
    }

    header {
        background-color: #3265cb;
    }
}

@media only screen and (max-device-width: 600px) {
    body {
        width: auto;
        margin: 0.5em;
        font-size: 1em;
    }
}