body {
    font-family: Calibri;
    font-size: 1.3em;
    width: 80%;
    margin: auto;
    word-wrap: break-word;
}

header {
    background-color: #ffe4c4;
    font-size: 1.5em;
    margin-top: 0.67em;
    padding: 0.2em;
}

header h1 {
    margin-bottom: 0.1em;
    margin-top: 0;
}

h1 {
    margin-bottom: 0;
}

nav {
    font-size: 0.65em;
}

a {
    color: darkcyan
}

.cm-editor {
    height: 100%
}

iframe {
    height: 35em;
    border: none;
}

.unfinished {
    color: red
}

.wip {
    color: orange
}

.story {
    background-color: #eee;
    border-radius: 10px;
    padding: 0 5px 0 5px;
}

.mc-template {
    float: right;
    display: block;
    padding: 8px;
    border-radius: 5px;
    background-color: #eee;
}

.mc-template img {
    width: 400px;
    height: auto;
}

img {
    max-width: 100%;
}

.image-gallery {
    width: 980px;
    max-width: 100%;
    background-color: #eee;
}

.gallery-image {
    width: 100%;
    margin: auto;
}

.gallery-image-container {
    aspect-ratio: 3/2;
    display: flex;
    background-color: #e8e8e8;
}

.gallery-selector-container {
    font-size: 0px;
}

.gallery-selector {
    display: inline-block;
    cursor: pointer;
    aspect-ratio: 3/2;
    max-height: 120px;
    object-fit: cover;
    opacity: 60%;
}

.gallery-selector:hover {
    opacity: 80%;
}

.gallery-selector.selected {
    opacity: 100%;
    cursor: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: white;
    }

    header {
        background-color: #3265cb;
    }

    a {
        color: lightblue
    }

    .story {
        background-color: #1c1c1c;
    }

    .mc-template {
        background-color: #222;
    }

    .image-gallery {
        background-color: #222;
    }

    .gallery-image-container {
        background-color: #181818;
    }
}

@media only screen and (max-device-width: 600px) {
    body {
        width: auto;
        margin: 0.5em;
        font-size: 1em;
    }

    .mc-template {
        float: none
    }

    .mc-template img {
        width: 100%
    }
}