<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
        <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    </head>
    <body>
        {% include header.html %}
        {% include breadcrumbs.html %}
        <div id="content">{{ content }}</div>
    </body>
</html>