---
layout: default
---

<h1>
    {{ page.title }}
    {% if page.tags contains "star" %}⭐{% endif %}
    {% if page.tags contains "wip" %}<span class="wip">[WORK-IN-PROGRESS]</span>{% endif %}
    {% if page.tags contains "unfinished" %}<span class="unfinished">[UNFINISHED]</span>{% endif %}
</h1>

{% if page.start-date == null %}
    (Published on {{page.end-date | date: "%B %e, %Y"}})
{% elsif page.start-date == page.end-date %}
    (Written on {{page.start-date | date: "%B %e, %Y"}})
{% else %}
    (Written between {{page.start-date | date: "%B %e, %Y"}} and {{page.end-date | date: "%B %e, %Y"}})
{% endif %}

{% assign story_parts = content | split: "[STORY]" %}
{% assign intro = story_parts | first | replace_first: "<p>", "" %}

{% if intro != "" %}
<br>
<br>
{% endif %}

{{ intro }}

<div class="story">
    {% if intro != "" %}
    <h1>
        {% if page.story-title %}
            {{ page.story-title }}
        {% else %}
            {{ page.title }}
        {% endif %}
    </h1>
    {% endif %}

    {{ story_parts | last }}
</div>